projeto.ipynb
format.py
.ipynb_checkpoints/
__pycache__
projeto-checkpoint.ipynb
.vscode/
src/format.py
src/.DS_Store
src/venv
src/__pycache__
src/imagens
src/data
src/modules/__pycache__
src/modules/colab
Sexto_Relatório_Furnas.pdf
pv2.ipynb
content/